@mixin breadcrumbs-item {
  padding-inline: 16px;
  font-size: 18px;
  line-height: 27px;
  color: $color-grey-60;
  display: flex;
  text-decoration: none;
  background-color: $color-white;
  border: none;

  &::after {
    display: block;
    content: '';
    width: 2px;
    height: 70%;
    background-color: $color-grey-60;
    position: relative;
    top: 5px;
    left: 16px;
  }

  &:last-child::after {
    display: none;
  }

  &:last-child:hover {
    color: $color-grey-60;
    cursor: auto;
  }

  &:first-child {
    padding-left: 0;
  }

  @include on-hover(color, $color-purple);
}

@mixin breadcrumps {
  display: flex;
  margin-block: 20px;

  &__item {
    @include breadcrumbs-item;

    &:last-child {
      align-self: center;
    }
  }
}
