@mixin input-lable {
  color: $color-grey-70;
  font-size: 16px;
  margin-bottom: 6px;
}

@mixin input-field {
  height: 64px;
  padding: 16px 24px;
  width: 100%;
  border: 1px solid $color-grey-70;
  outline-color: $color-purple;
  color: $color-black;
  font-size: 18px;
  cursor: pointer;
}

@mixin input-field-invalid {
  @include input-field;

  border-color: $color-error;
  outline-color: $color-error;
}

@mixin input-field-error {
  color: $color-error;
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  margin-bottom: 4px;
}

@mixin input {
  position: relative;
  width: 100%;

  &-label {
    @include input-lable;
  }

  &-field {
    @include input-field;

    &--invalid {
      @include input-field-invalid;
    }

    &--error {
      @include input-field-error;
    }

    @include placeholder {
      color: $color-grey-60;
      opacity: 1;
      transition: opacity $transition-duration;
    }

    &:focus {
      @include placeholder {
        opacity: 0;
      }
    }
  }
}

@mixin form-title {
  font-family: Oswald, 'sans-serif';
  font-size: 40px;
  margin-bottom: 24px;
}

@mixin profile-form {
  & {
    width: 410px;
  }

  &__input {
    @include input;
  }

  &__btn {
    @include button-large-purple;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    & {
      width: 100%;
      transition: all ease $transition-duration;
      margin-top: 22px;
    }
  }
}

@mixin form-footer {
  width: fit-content;
  align-self: center;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid $color-grey-70;

  &-text {
    color: $color-grey-70;
    cursor: pointer;

    @include on-hover(color, $color-purple);
  }
}
