@import '../../../shared/styles/utils.scss';

.EventPage {
  padding-top: 20px;

  &__breadCrumbs {
    margin-bottom: 20px;
  }

  &__firstScreen {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 124px;
  }
}
