@import '../../styles/utils.scss';

.MyLocation {
  font-size: 24px;
  color: $color-white;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px;
  width: max-content;
  position: relative;

  @include on-hover(background-color, $color-grey-70);

  &::before {
    content: url(/icons/location.svg);
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }

  &__drop {
    position: absolute;
    top: 67px;
    right: 0;
    background-color: $color-white;
    z-index: 3;
    transition: height ease-in-out $transition-duration;
    overflow: hidden;

    &-content {
      padding: 40px;
      color: $color-grey-70;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      transition: transform ease-in-out $transition-duration;

      &--hidden {
        transform: translateY(-150%);
      }
    }
  }

  &__city {
    font-family: Oswald, 'sans-serif';
    font-size: 40px;
    text-transform: uppercase;
  }

  &__btn {
    @include button-large-purple;
  }
}
