@import '../../styles/utils.scss';

.MyLocation {
  font-size: 24px;
  color: $color-white;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 16px;

  @include on-hover(background-color, $color-grey-70);

  &::before {
    content: url(icons/location.svg);
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
}
