@import '@styles';

.Organizator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;

  &__box {
    width: 490px;

    @include on-tablet {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__btn {
    @include button-large-purple-filled;

    @include on-tablet {
      margin: 0 auto;
      max-width: 350px;
      width: 100%;
      border: none;
    }
  }

  &__photolist {
    width: 100%;
    @include on-tablet {
      display: none;
    }

    &--tab {
      display: none;

      @include on-tablet {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
