@import '../../../../../shared/styles/utils.scss';

.HeaderSearch {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include on-tablet {
    justify-self: flex-end;
  }

  &__icon {
    cursor: pointer;
    padding: 16px;

    @include on-hover(background-color, $color-grey-70);
  }
}
