@import '../../styles/utils.scss';

.MyButton {
  font-size: 16px;
  font-weight: 500;
  width: max-content;
  height: 48px;
  border: 1px solid $color-green;
  background-color: $color-black;
  color: $color-green;
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @include on-hover(color, $color-black);
  @include on-hover(background-color, $color-green);
}
