@import '/src/shared/styles/utils.scss';
@import '../ChangeProfileForm/ChangeProfileForm.scss';

.ChangePasswordForm {
  @include profile-form;

  &__title {
    @include form-title;
    margin-bottom: 20px;
  }

  &__input-eye {
    position: absolute;
    top: 50px;
    right: 17px;
    cursor: pointer;
  }
}
