.EventContacts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__item {
    $social: 'insta', 'phone', 'telegram';

    @each $s in $social {
      &--#{$s} {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
          content: url(icons/#{$s}.svg);
          margin-top: 10px;
        }
      }
    }
  }
}
