@import './variables.scss';

@mixin grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(60px, 100%));
  column-gap: 30px;
}

@mixin on-hover($property, $value) {
  & {
    transition: #{$property} ease-in-out $transition-duration;
  }

  &:hover {
    cursor: pointer;
    #{$property}: $value;
  }
}

@mixin sceleton {
  animation: sceleton 1.5s infinite;
  background: linear-gradient(-75deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;

  @keyframes sceleton {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

@mixin button-large {
  & {
    font-size: 20px;
    font-weight: 500;
    width: 248px;
    height: 64px;
    padding-inline: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@mixin button-large-purple {
  & {
    color: $color-purple;
    background-color: $color_white;
    border-color: $color-purple;
    width: 312px;
  }

  @include button-large;
  @include on-hover(color, $color_white);
  @include on-hover(background-color, $color_purple);
}

@mixin button-large-purple-filled {
  color: $color_white;
  background-color: $color_purple;
  width: 312px;

  @include button-large;
  @include on-hover(color, $color_purple);
  @include on-hover(border-color, $color_purple);
  @include on-hover(background-color, $color_white);
}

@mixin animation-scale-in-center {
  .scale-in-center {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin animation-scale-out-center {
  .scale-out-center {
    -webkit-animation: scale-out-center 0.3s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
  }
}

@mixin breadcrumbs-item {
  padding-inline: 16px;
  font-size: 18px;
  line-height: 27px;
  color: $color-grey-60;
  display: flex;
  text-decoration: none;
  background-color: $color-white;
  border: none;

  &::after {
    display: block;
    content: '';
    width: 2px;
    height: 70%;
    background-color: $color-grey-60;
    position: relative;
    top: 5px;
    left: 16px;
  }

  &:last-child::after {
    display: none;
  }

  &:last-child:hover {
    color: $color-grey-60;
    cursor: auto;
  }

  &:first-child {
    padding-left: 0;
  }

  @include on-hover(color, $color-purple);
}

@mixin breadcrumps {
  display: flex;
  margin-block: 20px;

  &-item {
    @include breadcrumbs-item;

    &:last-child {
      align-self: center;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
