$color-black: #181a23;
$color-green: #c8fa03;
$color-purple: #6b1aee;
$color-white: #fff;
$color-grey-10: #f5f5f7;
$color-grey-20: #ebebed;
$color-grey-30: #dedfe2;
$color-grey-50: #c1c2c5;
$color-grey-60: #9b9ca2;
$color-grey-70: #494a4e;
$color-error: #ee1a40;

$transition-duration: 500ms;
