@import '../../../shared/styles/utils.scss';

.EventSceleton {
  border: 1px solid $color-grey-60;
  cursor: pointer;
  height: 675px;

  @include on-hover(outline, 2px solid $color-purple);

  &__img-box--sceleton {
    overflow: hidden;
    height: 314px;
    width: 300px;

    @include sceleton;
  }

  &__descr {
    padding: 24px;
  }

  &__title-box {
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    font-family: Oswald, 'sans-serif';
  }

  &__category--sceleton {
    border-radius: 24px;
    padding: 12px 24px;
    width: 50%;

    @include sceleton;
  }

  &__category-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__favorite {
    padding: 5px;
    cursor: pointer;

    @include on-hover(transform, scale(1.2));
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 14px;
    width: 100%;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    position: relative;
    height: 20px;
    width: 80%;

    @include sceleton;

    $options:
      'price' 'money_black',
      'date' 'calendar_black',
      'place' 'location_black';

    @each $option, $icon in $options {
      &--#{$option}::before {
        content: url(/icons/#{$icon}.svg);
        margin-top: 4px;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -50px;
        top: -5px;
      }
    }

    &--sceleton {
      height: 16px;
      width: 100%;
      @include sceleton;
    }
  }

  &__sceleton {
    height: 16px;
    width: 100%;

    @include sceleton;

    &-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      & :last-child {
        width: 80%;
      }
    }
  }
}
