@import 'src/shared/styles/utils.scss';
@import '../Step1/Step1.scss';

.Step3 {
  @include step-common-style;

  &__item {
    &:last-child {
      flex-grow: 1;
    }
  }

  &__footer {
    gap: 20px;

    &-prev {
      background: none;
      border: none;
      text-decoration: underline;
      color: $color-grey-70;
    }
  }
}
