@import '../../../../../../../shared/styles/utils.scss';

.Progress {
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color ease-in-out $transition-duration;

    @include on-hover(color, $color-purple);

    &--current {
      @extend .Progress__item;

      color: $color-purple;
    }

    &--disabled {
      @extend .Progress__item;
      @include on-hover(cursor, not-allowed);
    }
  }

  &__lable {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: $color-grey-20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-size: Oswald, 'sans-serif';
    color: $color-grey-70;
    transition: all ease-in-out $transition-duration;
    margin-bottom: 12px;

    &--current {
      @extend .Progress__lable;

      background-color: $color-purple;
      color: $color-white;
    }
  }

  &__title {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
  }
}
