@import '../../styles/utils.scss';

.Logo {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  text-decoration: none;

  @include on-mobile {
    padding: 10px;
  }

  &:hover {
    .Logo__sitename {
      color: $color-green;
    }
  }

  &__img {
    background-color: $color-green;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    @include on-mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__sitename {
    font-size: 28px;
    font-weight: bold;
    color: $color-white;
    margin: 0;
    transition: all ease-in-out $transition-duration;

    @include on-mobile {
      font-size: 20px;
    }

    &--dark {
      color: $color-black;
    }
  }
}
