@import '../../../shared/styles/utils.scss';

.MyEventTypeFilter {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px;
  border: 1px solid $color-black;
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;

  @include on-hover(color, $color-purple);
  @include on-hover(border-color, $color-purple);

  &__name {
    font-size: 18px;
  }
}
