@import '../../../shared/styles/utils.scss';

.Header {
  width: 100%;

  &__item {
    width: 100%;

    &--top {
      height: fit-content;
      background-color: $color-black;
    }
  }

  &__top-content {
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &--left {
      gap: 32px;
    }
  }

  &__icon {
    height: 64px;
    width: 64px;
    cursor: pointer;
    padding: 16px;

    @include on-hover(background-color, $color-grey-70);
  }

  &__addBtn {
    margin-left: 16px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-other {
      font-size: 20px;
      font-weight: bold;
      padding: 16px 20px;

      &::after {
        content: url(icons/arrow-down.svg);
      }

      &:hover {
        &::after {
          content: url(icons/arrow-down-purple.svg);
        }
      }

      @include on-hover(color, $color-purple);
    }
  }
}
