@import '../../../../../shared/styles/utils.scss';

.AddEvent {
  padding-bottom: 124px;
  max-width: 980px;
  margin: 0 auto;

  &__breadcrumbs {
    @include breadcrumps;

    &-item {
      @include breadcrumbs-item;
    }
  }

  &__title {
    margin-bottom: 56px;
  }

  &__progress {
    margin-bottom: 80px;
  }
}
