@import '../../../shared/styles/utils.scss';

.SearchBar {
  background-color: $color-black;
  padding: 24px;

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__drop {
    overflow: hidden;
  }
}
