@import '../../../shared/styles/utils.scss';

.SearchEvent {
  flex-grow: 1;
  display: flex;
  gap: 2px;
  align-items: center;
  height: 100%;

  @include on-tablet {
    flex-direction: column;
    gap: 10px;
  }

  &__wrapper {
    display: contents;

    @include on-tablet {
      display: flex;
      gap: 10px;
      width: 100%;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 56px;
    padding-inline: 16px;
    font-size: 20px;
    font-weight: 500;
    background-color: $color-grey-10;
    border: 1px solid $color-grey-10;

    @include on-mobile {
      height: 56px;
    }

    &::before {
      content: url(icons/filter.svg);
      margin-top: 4px;
    }

    @include on-hover(color, $color-purple);

    &:hover::before {
      content: url(icons/filter_purple.svg);
    }

    & p {
      @include on-tablet {
        display: none;
      }
    }
  }

  &__location {
    @extend .SearchEvent__filters;
    white-space: nowrap;

    &::before {
      content: url(icons/location_black.svg);
      margin-top: 4px;
    }

    &:hover::before {
      content: url(icons/location_purple.svg);
    }

    @include on-tablet {
      display: none;
    }
  }

  &__btn {
    & {
      border: 1px solid $color-green;
      background-color: $color-green;
      width: 146px;
      margin-left: 10px;
    }

    @include button-large;
    @include on-hover(color, $color-green);
    @include on-hover(background-color, $color-black);
    @include on-hover(border-color, $color-green);
    @include on-tablet {
      width: 100%;
      margin-left: 0;
    }
  }
}
