@import '/src/shared/styles/utils.scss';

.HomePage {
  display: flex;
  flex-direction: column;
  gap: 124px;
  align-items: center;
  justify-content: start;

  @include on-tablet {
    gap: 56px;
  }

  &__section {
    width: 100%;

    &--first {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 64px;

    span {
      color: $color-purple;
    }

    @include on-tablet {
      font-size: 40px;
    }

    @include on-mobile {
      margin-bottom: 32px;
    }
  }

  &__title--h2 {
    margin-bottom: 24px;
    align-self: flex-start;

    span {
      color: $color-purple;
    }

    @include on-tablet {
      font-size: 40px;
    }

    @include on-mobile {
      margin-bottom: 0;
    }
  }

  &__productList {
    display: flex;
    justify-content: center;
    margin-bottom: 124px;
  }

  &__toplist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__closestlist {
    @extend .HomePage__toplist;

    margin-bottom: 124px;

    @include on-mobile {
      margin-bottom: 84px;
    }
  }

  &__searchBar {
    margin-bottom: 56px;

    @include on-mobile {
      margin-bottom: 28px;
    }
  }

  &__btn--purple {
    @include button-large-purple;
  }
}
