@import '/src/shared/styles/utils.scss';

.MyPasswordInput {
  position: relative;
  width: 100%;

  &__label {
    @include input-lable;
  }

  &__field {
    @include input-field;

    &--invalid {
      @include input-field-invalid;
    }

    &--error {
      @include input-field-error;
    }

    @include placeholder {
      color: $color-grey-60;
      opacity: 1;
      transition: opacity $transition-duration;
    }

    &:focus {
      @include placeholder {
        opacity: 0;
      }
    }
  }

  &__eye {
    position: absolute;
    top: 50px;
    right: 17px;
    cursor: pointer;
  }
}
