@import './../../../../../../shared/styles/utils.scss';

.FiltersBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 70%;

  &__drop {
    position: relative;
    overflow: hidden;
    transition: height ease-in-out $transition-duration;
  }

  &__filters {
    background-color: $color-white;
    padding: 40px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    transition: transform ease-in-out $transition-duration;
    position: relative;
  }

  &__title {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;

    &-name {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-white;
    }

    &-counter {
      font-size: 18px;
      color: $color-white;
    }

    &--sm {
      margin-bottom: 40px;
    }
  }

  &__title--sm {
    font-size: 20px;
    font-weight: bold;
  }

  &__selectedList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }

  &__selected {
    margin-top: 40px;
  }

  &__event-list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__icon-close {
    position: absolute;
    right: 41px;
    top: 48px;

    @include on-hover(transform, scale(1.2));
  }
}
